*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/example/pethome/VetFragment.java
app/src/main/java/com/example/pethome/Vet_Fragment_Profile.java
app/src/main/res/layout/fragment_vet.xml
app/src/main/java/com/example/pethome/VetFragment.java
